<div class="enemy__wrapper">
  <div *ngIf="!endGameFlag else message">
    <!-- Компонент врага -->
    <div class="enemy__wrapper" (click)="attack()">
        <app-enemy></app-enemy>
    </div>
  </div>

  <ng-template #message>
      <div class="end-game">
        <!--  TODO переделать логику с сообщением о победе или поражении  -->
        <h1>{{gameStore.heroHealth.value > 0 ? 'You win!' : 'You are dead!'}}</h1>
        <div>
          <h1>Click count: {{clickCount}}</h1>
        </div>
      </div>
  </ng-template>
</div>

<!-- Компонент панели героя -->
<div class="info__wrapper">
  <app-info
    (selectBuff)="selectBuff($event)">
  </app-info>
</div>
