.enemy__wrapper {
  width: 450px;
  height: 650px;
  margin: 0 auto;
  border: 1px solid darkred;
}

.info__wrapper {
  width: 700px;
  height: 6rem;
  margin: 2rem;
  border: 1px solid brown;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.end-game {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
