/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;

  font-family: 'Crimson Text', serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}


.enemy {
  cursor: url('./assets/base-sword.png'), pointer;
}

.enemy__block-attack {
  cursor: url('./assets/block-sword.png'), auto;
}

.damage {
  width: 75px;
  height: 50px;
  font-size: 3rem;
  background: darkred;
  color: black;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50px;
}

.attack {
  width: 48px;
  height: 48px;
  position: relative;
  margin: 0 auto;

  &__left {
    top: -400px;
    left: -55%;
    background-image: url('./assets/damageSide48.png');
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(-1, 1);
    filter: invert(13%) sepia(45%) saturate(5668%) hue-rotate(353deg) brightness(85%) contrast(121%);
  };

  &__right {
    top: -400px;
    left: 55%;
    background-image: url('./assets/damageSide48.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(13%) sepia(45%) saturate(5668%) hue-rotate(353deg) brightness(85%) contrast(121%);
  }
}
