.info {
  width: 700px;
  height: 6rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__panel {
    display: flex;
  }

  &__element {
    margin: 1rem;
  }

  .hero-bag {
    ul {
      display: flex;
      list-style-type: none;

      li {
        margin: 1rem;
      }
    }

    &__item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.item {

  &__name {
    font-size: 1rem;
  }

  &__use {
    font-size: 0.8rem;
  }
}
